/*start global*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    height:100%;
    width:100%;
    background:url(images/sitebg.jpg) no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}

html {
    font-size:10px;
    font-family: 'Roboto', sans-serif;
    color:#eee;
}

section {
    padding:6rem 0;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:#eee;
}

img {
    width:100%;
}
/*end global*/




/*start menu*/
    .top-nav {
        height:100vh;
        width:100%;
        background: #16162d;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        display: flex;
        justify-content: center;
        position:fixed;
        transition:650ms cubic-bezier(1,0,0,1);
        top:-120%;
        z-index: 10;
    }

    .nav-list {
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        width:80%;
        height: 100%;
        justify-content: space-around;
    }

    .nav-link {
        font-size: 4vmax;
        font-family:  'Jim Nightshade', cursive;
        padding:0 1rem;
    }

    .nav-link:focus,
    .nav-link:hover {
        background:linear-gradient(to top , rgb(250, 250, 34), rgb(111, 34, 255));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        border-bottom:4px solid rgb(250, 192, 34);
        border-radius: 30%;
    }

    .top-nav.open {
        top:0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }


    header {
        height:100vh;
    }

    .menu-toggler {
        position:absolute;
        top:3.5rem;
        right:7rem;
        width:5.4rem;
        height:4rem;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        z-index:1500;
        cursor:pointer;
        transition:transform 650ms ease-out;
    }

    .menu-toggler.open {
        transform: rotate(-45deg);
        position:fixed;
    }

    .bar {
        width:100%;
        height:4px;
        background:linear-gradient(to right ,rgb(253, 232, 43) ,rgb(81, 36, 204));
        border-radius:10px;
    }

    .half {
        width:50%;
    }

    .bar.start {
        transform-origin:right;
        transition:transform 652ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }

    .open .bar.start {
        transform:rotate(-450deg) translateX(.8rem);
    }

    .bar.end {
        transform-origin:left;
        align-self:flex-end;
        transition:transform 650ms cubic-bezier(0.54, -0.87, 0.57, 0.57)
    }

    .open .bar.end {
        transform:rotate(450deg) translate(-1.8rem)
    }

    .landing-text {
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .landing-text h1 {
        font-size:16rem;
        font-family:  'Jim Nightshade', cursive;
        background:linear-gradient(to top , rgb(250, 250, 34), rgb(111, 34, 255));
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
    }

    .landing-text h1::selection {
        -webkit-text-fill-color:currentColor;
        background:rgb(250, 250, 34);
        color:rgb(111, 34, 255);
    }

    .landing-text h6 {
        font-size:2.5rem;
        font-weight:300;
    }
/*end menu*/




/*start sections*/
    section {
        width:100%;
        padding:1rem;
        margin:12rem auto;
    }

    .container {
        width:90%;
        margin:0 auto;
    }

    .section-heading {
        margin: 50px auto 60px;
        text-align: center;
        position:relative;
    }

    
    .section-heading h2 {
        font-size:4rem;
        font-weight:500;
        margin-bottom:1.5rem;
        color: rgba(255, 255, 255, 0.404);
        text-transform:uppercase;
        position: relative;
    }

    .section-heading h6 {
        font-size:1.7rem;
        font-weight:300;
    }

    .section-heading h6:first-letter {
        text-transform:uppercase;
    }
    .section-heading h2::before,
    .section-heading h2::after {
        content:'';
        position:absolute;
        bottom:-0.5rem;
        left:50%;
        background:rgb(255, 255, 255) !important;
        transform:translateX(-50%)
    }

    .section-heading h2::before {
        height:4px;
        width:10rem;
        border-radius:5px;
    }

    .section-heading h2::after {
        height:15px;
        width:15px;
        border-radius:100%;
        bottom:-1rem;
    }





/*end sections*/


/*start about*/
    .about .container {
        display:flex;
        justify-content:center;
        align-items: center;
    }

    .about-img {
        display:flex;
        justify-content:center;
        align-items: center;
        margin-right:2rem;
    }

    .about-img img {
        width: 100%;
        border-radius:5px;
    }

    .about-content {
        height:100%;
        width: 100%;
        align-self: center;
        position: relative;
    }

    .about-details {
        width: 90%;
        margin-left:1rem;
        padding-left:1rem;
    }

    .about-heading {
        text-align: center;
        text-transform:uppercase;
        line-height:0;
        margin-bottom:7rem;
    }

    .about-heading h2 {
        font-size:10rem;
        opacity:.3;
    }

    .about-heading h6 {
        font-size:2rem;
    }

    .about-details p {
        font-size:2rem;
        margin:0 2rem;
        line-height:2.5rem
    }
    .about-details p::first-letter {
        margin-left:1rem;
        font-size:3rem
    }


    .social-media {
        margin-top: 3rem;
        width:100%;
    }

    .social-media .nav-list {
        width: 50%;
        margin:0 auto;
        font-size:5rem;
    }

    .social-media .nav-list li {
        border:4px solid rgb(255, 255, 255);
        border-left:none;
        border-right:none;
        border-radius:10px;
        margin:1.5rem;
    }

    .social-media .nav-list li:hover {
        animation:listfa 700ms 1;
    }

    .fa-facebook-square:hover {
        transition:color 650ms ease;
        color:blue;
        animation:fa 700ms 1;
    }

    .fa-linkedin:hover {
        transition:color 650ms ease;
        color:rgb(54, 54, 201);
        animation:fa 700ms 1;
    }

    .fa-github-square:hover {
        color:rgb(54, 52, 52);
        transition:color 650ms ease;
        animation:fa 700ms 1;
    }


    .icon-link {
        display:inline-block;
        padding:0.2rem 0.7rem;
    }

    @keyframes listfa {
        0%{
            transform:rotate(0deg)
        }
        100%{
            transform:rotate(765deg)
        }
    }

    @keyframes fa {
        0%{
            transform:rotate(0deg)
        }
        100%{
            transform:rotate(-765deg)
        }
    }

/*end about*/




/*start services*/
.my-skills {
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fit ,minmax(25rem,1fr));
}

.skill {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:5rem 2rem 0rem;
}

.skill h3 {
    font-size:2rem;
    text-transform:uppercase;
    letter-spacing: 0.35rem;
    margin:2rem;
}

.skill p {
    text-align:center;
    width:80%;
    font-size:1.7rem;
    padding:0 0rem;
}
.skill p span {
    text-decoration:double underline;
}

.icon-skill {
    height:10rem;
    width:10rem;
    border:3px solid #ffe838;
    background-color:#fd57bf;
    transform:rotate(45deg);
    display:grid;
    place-items:center;
    margin:2rem;
}

.icon-skill:hover {
    transition:650ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transform:rotate(765deg);
    animation:icon 2000ms forwards ;
}

@keyframes icon {
    0%{
        background-color:#fd57bf;
        border:3px solid #ffe838;
    }
    50%{
        background-color:#bb107c;
        border:3px solid #cfb807;
    }
    100%{
        background-color:#bb107c;
        border:3px solid #cfb807;
    }
}

.icon-skill i {
    transform:rotate(-45deg);
    font-size:5rem;
}
/*end services*/




/*start portfolio*/

.portfolio .container {
    display: flex;
    flex-direction:column;
}

.portfolio-items {
    display:flex;
    flex-direction:rew;
    justify-content:center;
    align-items: center;
    padding:0 6rem;
    margin-bottom:1rem;
    margin:2rem 0;
}

.portfolio-img {
    width:50rem;
    flex: 1.1;
}
.portfolio-img img {
    padding:1rem;
    border:5px solid #16162d;
    transition: 600ms ease;
}
.portfolio-img img:hover {
    padding:0rem;
    transform:rotate(1);
    transition: 600ms ease;
}

.margin-right {
    margin-right:5rem;
}

.portfolio-description {
    flex: 1;
    text-transform: uppercase;
}

.portfolio-description h5 {
    font-size:1.7rem;
    font-weight:500;
    opacity:0.4;
}

.portfolio-description h2 {
    font-size:3rem;
    font-weight:500;
    letter-spacing:0.2rem;
    margin:1rem 0;
}

.portfolio-description p {
    font-size:1.7rem;
    margin-bottom:3rem;
    text-transform: lowercase;
}

.portfolio-description p:first-letter {
    font-size:2.4rem;
    font-weight:700;
    text-transform: uppercase;
}

.portfolio-description .site-link {
    display:flex;
    flex-direction:row;
}

.portfolio-description .site-link a {
    font-size:1.7rem;
    text-transform:capitalize;
    color:rgb(124, 143, 199);
    display:block;
    border:2px solid gray;
    border-radius:5px;
    padding:1rem;
    margin:0 1rem;
}

.portfolio-description .site-link a:hover {
    color:rgb(16, 59, 187);
}



.button-more {
    height:100%;
    width:100%;
    margin:5rem auto 0;
    text-align: center;
}
.button-more button {
    height:4rem;
    width:10%;
    font-size:1.5rem;
    font-weight:400;
    background: #1b1b47;
    color:yellow;
    border:4px solid yellow;
    border-radius:5px;  
    cursor: cell;
    outline: none;
}
.button-more button:hover ,
.button-more button:focus {

    background: #343485;
    color:rgb(204, 204, 35);
    border:4px solid rgb(187, 187, 34);

}
.portfolio-more {
    display:none;
}


.button-more.open {
    display:none;
}
.portfolio-more.open {
    display:block;
}

/*end portfolio*/




/*start experience*/
.timeline {
    display:flex;
    flex-direction:column;
    width:70%;
    margin:5rem auto;
    background:rgba(0,0,0,.1);
    border-left: 4px solid yellow;
    border-radius:3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    padding:4rem 5rem
}

.timeline ul {
    width: 100%;
    position:relative;
}

.timeline .date {
    padding:1rem;
    border-bottom:1px solid rgba(128, 128, 128, 0.459);
    position:relative;
}

.timeline .date:last-child {
    border:none;
}

.timeline .date::before,
.timeline .date::after {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.timeline .date::before {
    content:attr(data-date);
    font-size:1.6rem;
    min-width: 12rem;
    text-align: right;
    left: -20rem;
}

.timeline .date::after {
    content:'';
    width:1.5rem;
    height:1.5rem;
    background:rgb(6, 6, 71);
    border:4px solid palevioletred;
    border-radius:100%;
    left:-6.25rem
}


.timeline .date h3 {
    font-size:2.3rem;
    font-weight:400;
    opacity:.4;
    padding:1rem 0;
}

.timeline .date p {
    font-size:1.5rem;
}
/*end experience*/




/*start contact form*/
form {
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.name-form {
    width:65%;
    position:relative;
    display: flex;
    flex-direction:column;
    align-items:center;
    overflow:hidden;
    margin:2rem 0
}
.name-form input {
    width:100%;
    height:100%;
    padding: 2.5rem 1rem 1rem 2rem;
    border:none;
    border-radius:5px;
    background:rgba(0, 0, 0, 0.404);
    color:yellow;
    font-size:1.5rem;
    outline: none;
}
.name-form .label-name {
    width:100%;
    height:100%;
    position: absolute;
    pointer-events:none;
    border-bottom:2px solid gray;
    border-radius:5px;
}

.name-form .label-name::after {
    content:"";
    position:absolute;
    bottom:-2px;
    left:0;
    height:100%;
    width:100%;
    border-bottom:3px solid royalblue;
    border-radius:5px;
    transform:translateX(-100%);
    transition:transform 650ms ease;   
}



.name-form .label-name span {
    font-size:1.7rem;
    font-weight:400;
    color:#eee;
    position:absolute;
    top:45%;
    left:3%;
    transition:transform 650ms ease;   
}

.name-form input:focus + .label-name span ,
.name-form input:valid + .label-name span  {
    transform:translateY(-100%);
    color:royalblue;
}

.name-form input:focus + .label-name::after,
.name-form input:valid + .label-name::after {
    transform:translateX(0%);   
}



.email-form {
    width:65%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    position:relative;
    overflow:hidden;
    margin:2rem 0;
}
.email-form input {
    width:100%;
    padding:2.5rem 1rem 1rem 2rem;
    border:none;
    outline:none;
    border-bottom:2px solid gray;
    border-radius:5px;
    background:rgba(0, 0, 0, 0.404);
    color:yellow;
    font-size:1.5rem
}
.email-form .label-email {
    height:100%;
    width:100%;
    position:absolute;
    pointer-events:none;
}

.email-form .label-email::after {
    content:"";
    height:100%;
    width:100%;
    position:absolute;
    bottom:-1.2px;
    left:0;
    border-bottom:3px solid royalblue;
    border-radius:5px;
    transform:translateX(-100%);
    transition:transform 650ms ease;
}

.email-form .label-email span {
    font-size:1.7rem;
    font-weight:400;
    color:#eee;
    position:absolute;
    top:45%;
    left:3%;
    transition:transform 650ms ease;
}

.email-form input:focus + .label-email span ,
.email-form input:valid + .label-email span  {
    transform:translateY(-100%);
    color:royalblue;
}

.email-form input:focus + .label-email::after,
.email-form input:valid + .label-email::after {
    transform:translateX(0%);
}


.select-form {
    width:65%;
    position:relative;
    margin:2rem 0;
}
.select-form #services {
    height:100%;
    width:100%;
    padding:1.5rem 1rem;
    color:yellow;
    background:rgba(0, 0, 0, 0.404);
    outline:none;
    border:none;
    border-bottom:2px solid gray;
    border-radius:5px;
    font-size:1.5rem;
}

.select-form #services:valid {
    border-bottom:3px solid royalblue;
}


.text-form {
    width:65%;
    height:100%;
    margin:2.5rem 0;
    position:relative;
    overflow:hidden;
}
.text-form #message {
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.404);
    color:yellow;
    font-size:1.5rem;
    outline:none;
    border:none;
    border-bottom:2px solid gray;
    border-radius:5px;
    padding:3.7rem 1rem 1rem 2rem;
}

.text-form .label-message {
    height:100%;
    width:100%;
    position:absolute;
    top:0%;
    left:0%;
    pointer-events:none;
}

.text-form .label-message span {
    font-size:1.7rem;
    position:absolute;
    top:15%;
    left:3.5%;
    transition:transform 650ms ease;
}

.label-message::after {
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    bottom:1.2%;
    left:0;
    border-bottom:3px solid royalblue;
    border-radius:5px;
    transform:translateX(-100%);
    transition:transform 650ms ease;
}

#message:focus + .label-message span, 
#message:valid + .label-message span {
    color:royalblue;
    transform:translateY(-140%);
}



#message:focus + .label-message::after ,
#message:valid + .label-message::after {
    transform:translateX(0%);
}


.submit-form {
    width:65%;
    height:100%;
    position:relative;
}

.submit-form input {
    height:100%;
    width:100%;
    font-size:1.7rem;
    font-weight:900;
    color:rgb(240, 240, 240);
    background-color:#f343b3;
    outline:none;
    cursor:pointer;
    border:none;
    border-radius:5px;
    padding:1.3rem;
}

.submit-form input:hover ,
.submit-form input:active {
    background-color:#c91787;
}
/*end contact form*/




/*start footer*/
footer {
    height:10rem;
    width:100%;
    background:rgba(0, 0, 0, 0.226);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:relative;
}

footer .copyright {
    text-align:center;
}

footer .copyright h2 {
    font-size:1.4rem;
    letter-spacing:0.2rem;    
    margin:0.4rem;
}

footer .copyright h2 span {
    font-size:2rem;
    font-weight:500;
    font-family: 'Lobster', cursive;
}

footer .copyright h6 {
    font-size:1.9rem;
    font-weight:300;
    font-family: 'Playball', cursive;
    margin:0.4rem;
}

footer .copyright h6 i {
    font-size:1.3rem;
    margin:0 0.4rem;
}

footer .up {
    height:6rem;
    width:6rem;
    border-radius:100%;
    position:absolute;
    top:-3rem;
    right:6rem;
    background:white;
    display:flex;
    animation:up 1300ms infinite forwards linear;
    cursor:pointer;
}

footer .up i {
    font-size:3rem;
    color:rgb(16, 7, 66);
    margin:auto;
}

@keyframes up {
    0%{
        box-shadow: 0 0 0px 2px rgb(246, 144, 255); 
    }
    50%{
        box-shadow: 0 0 0px 15px rgba(221, 80, 214, 0.473); 
    }
    80%{
        box-shadow: 0 0 0px 23px rgba(163, 80, 170, 0); 
    }
    100%{
        box-shadow: 0 0 0px 23px rgba(163, 80, 170, 0); 
    }
}
/*end footer*/





/*start media queris*/
@media (max-width:780px) {
    body {
        background:url("images/sitebg2.jpg") no-repeat center fixed;
        background-size:cover;
    }

    .nav-link {
        font-size:3.4rem;
    }

    .landing-text h1 {
        font-size:9rem;
    }

    .landing-text h6 {
        font-size:2.2rem;
    }

    .menu-toggler {
        top:3rem;
        right:5rem;
    }

    .about-heading {
        margin:5rem;
    }

    .about-heading h2 {
        font-size:8rem;
    }
    .about-heading h6 {
        font-size:1.7rem;
    }
    .about-img {
        width:100%;
        margin-bottom:7rem;
    }

    .about-details p {
        font-size:1.8rem;
    }

    .social-media li  {
        padding:0rem 0rem ;
    }
    .social-media li i{
        font-size:4.3rem;
    }



    .icon-skill {
        height:8rem;
        width:8rem;
    }
    .icon-skill i {
        font-size:4rem;
    }

    .skill h3 {
        font-size:1.8rem;
    }
    
    .skill p {
        font-size: 1.7rem;
    }


    .portfolio-img {
        width:100%;
        height:100%;
    }

    .portfolio-items {
        margin-bottom:4rem;
    }
    .portfolio .container:last-child {
        margin-bottom:-5rem;
    }

    .portfolio-description h5 {
        font-size:1.4rem;
    }
    .portfolio-description h2 {
        font-size:2.5rem;
    }
    .portfolio-description p {
        font-size:1.5rem;
        margin-bottom:1rem;
    }
    .portfolio-description a {
        font-size:1.5rem;
    }

    .margin-right {
        margin-right:3rem;
    }

    .button-more button {
        height:4rem;
        width:15%;
        font-size:1.2rem;
        font-weight:400;
        background: #1b1b47;
        color:yellow;
        border:3px solid yellow;
        border-radius:5px;  
        cursor: cell;
        outline: none;
    }



    .timeline {
        width:70%;
        padding:2rem 2rem 2rem 4.8rem;
        margin-left:15rem;   
    }

    form {
        width:100%;
        position:relative;
    }

    .name-form {
        width:80%
    }
    .email-form {
        width:80%
    }
    .select-form {
        width:80%
    }
    .text-form {
        width:80%
    }
    .submit-form {
        width:80%
    }



    footer {
        height:7rem
    }
    footer .copyright h3 {
        font-size:2rem ;
    }
    footer .copyright h6 {
        font-size:1.5rem ;
    }

    footer .up {
        height:5.1rem;
        width:5.1rem;
        right:3rem;
        top:-2.4rem
    }
    footer .up i {
        font-size:2.5rem;
    }
}




@media (max-width:600px) {
    body {
        background:url("images/sitebg2.jpg") no-repeat center fixed;
        background-size:cover;
    }

    .nav-list {
        flex-direction:column;
        justify-content: space-evenly;
    }

    .nav-link {
        font-size:3.4rem;
        margin:-2rem;
        margin-bottom:-5rem;
        padding: -2rem
    }


    .landing-text h1 {
        font-size:6.5rem;
    }

    .landing-text h6 {
        font-size:1.8rem;
    }

    .menu-toggler {
        top:2rem;
        right:3rem;
    }

    .about .container {
        flex-direction:column;
    }
    .about-img {
        width:100%;
        margin: 1rem auto;
    }


    .social-media li i{
        font-size:4.7rem;
    }


    .portfolio-items {
        flex-direction:column;
        height:100%;
        width:100%;
        padding:1rem;
    }

    .portfolio-img {
        width:100%;
        height:100%;
        margin:2rem auto;
        order:1;
    }
    
    .portfolio-img img {
        width:100%;
        height:100%;
    }

    .portfolio-description {
        height:70%;
        width:80%; 
        order:2;
    }


    .portfolio .container:last-child {
        margin-bottom:-5rem;
    }





    .timeline {
        width:77%;
        padding:0.5rem 1.8rem 0.5rem 4rem;
        margin-left:10rem;   
    }

    .timeline .date::before {
        left:-19rem;
    }

    .timeline .date::after {
        left:-5.4rem
    }

    .timeline .date p {
        padding-bottom:1rem;
    }




    .name-form {
        width:80%
    }
    .email-form {
        width:80%
    }
    .select-form {
        width:80%
    }
    .text-form {
        width:80%
    }
    .submit-form {
        width:80%
    }



    footer {
        height:7rem
    }
    footer .copyright h3 {
        font-size:1.8rem ;
    }
    footer .copyright h6 {
        font-size:1.5rem ;
    }

    footer .up {
        height:5.1rem;
        width:5.1rem;
        right:3rem;
        top:-2.4rem
    }
    footer .up i {
        font-size:2.5rem;
    }
}




@media (max-width:410px) {

    .landing-text {
        width:100%;
        text-align:center;
    }

    .landing-text h1 {
        font-size:5rem;
    }

    .landing-text h6 {
        font-size:1.7rem;
    }


    .about .container {
        flex-direction:column;
        align-items: center;
    }
    .about-heading {
        margin:5rem 0
    }

    .portfolio-items {
        flex-direction:column;
        height:100%;
        width:100%;
        padding:1rem;
    }
    .portfolio-description {
        width:90%;
        padding-left:1rem;
    }

    .portfolio-description {
        width:90%; 
    }







    .timeline {
        width:77%;
        padding:0.5rem 1.8rem 0.5rem 2rem;
        margin-left:9rem;   
    }

    .timeline .date::before {
        left:-16rem;
        font-size:1.5rem
    }

    .timeline .date::after {
        left:-3.3rem
    }




    footer {
        height:7rem;
        width:100%;
    }
    footer .copyright h3 {
        font-size:1.5rem ;
    }
    footer .copyright h6 {
        font-size:1.5rem ;
    }

    footer .up {
        height:4rem;
        width:4rem;
        right:3rem;
        top:-2.4rem
    }
    footer .up i {
        font-size:1.8rem;
    }
}

/*end media queris*/
